@import "../../../styles/inc/colors.scss";

.Dropdown-root {
  .Dropdown-menu {
    background: #282c38;
    border: 0;
    max-width: 200px;
    top: -50px;
    box-shadow: 0px 9px 20px 7px #00000066;
    border-radius: 5px;
    padding: 10px;
    height: 500px;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $main;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .Dropdown-option {
      color: white;
      border-radius: 5px;
      margin: 10px 0;

      transition: all 200ms ease;

      &:hover {
        background-color: $accent;
      }
      &.is-selected {
        &:hover {
          background-color: $accent;
        }
        background-color: $main;
      }
    }
  }
}
