// main
$main: #282c38;
$accent: #20b8ac;
$purple: #785cb3;

// gradients
$mainG: linear-gradient(#282c3800, #282c38 85%);
$pressG: linear-gradient(100deg, #282c3800 40%, #282c38 85%);
$footerG: linear-gradient(#282c38, #363a48);
// grays
$white: #fff;
